@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap');
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Source Serif Pro', serif;
    background: #282828;
    flex-direction: column;
    
}
h1{
    font-size: 10rem;
    color: white;
    margin: 0px;
}
p{
    color:white;
}