@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
body{
    background: linear-gradient(-45deg, #101010, #1c1f26, #101010, #1c1f26);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Castoro Titling', cursive;
}
.card{
    position:relative;
    background-color:rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Castoro Titling', cursive;
    color:white;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(8px);
    justify-content: center;
}
.books-container{
    justify-content: center;
    align-items: center;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
img{
    width: 320px;
}

.reserver-btn{
    background-color: rgb(255, 179, 0);
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    border:none;
    font-weight: bold;
}
h1{
    font-family: 'Castoro Titling', cursive;
    color:white;
}


  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    background-color: rgb(255, 200, 0);
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    font-family: 'Castoro Titling', cursive;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  input[type=submit]{
    background-color: green;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    border:none;
    font-weight: bold;
}
